<div xmlns:layout="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layout}"
     layout:fragment="content">

<h1 class="my-4">회원가입</h1>
    <hr>
    <form action="/customer/signup.do" method="post" name="signupForm">
        <div class="form-group mb-3">
            <label for="customer_id">customer_id</label>
            <div class="input-group ">
                <input type="text" class="form-control" name="customer_id" id="customer_id">
                <span class="input-group-btn">
            		<button class="btn btn-success" id="checkIdBtn" type="button">중복체크</button>
                </span>
                <small class="valid-feedback">사용가능한 아이디 입니다.</small>
                <small class="invalid-feedback">사용중인 아이디 입니다.</small>
            </div>
        </div>
        <div class="form-group">
            <label for="customer_phone">customer_phone</label>
            <input type="text"
                   class="form-control" name="customer_phone" id="customer_phone" aria-describedby="helpPhone" placeholder="">
            <small id="helpPhone" class="form-text text-muted">핸드폰번호가 비밀번호</small>
        </div>
        <div class="form-group">
            <label for="customer_name">customer_name</label>
            <input type="text"
                   class="form-control" name="customer_name" id="customer_name" aria-describedby="helpName" placeholder="">
            <small id="helpName" class="form-text text-muted">2글자이상작성</small>
        </div>
        <div class="form-group">
            <label for="customer_email">customer_email</label>
            <input type="text"
                   class="form-control" name="customer_email" id="customer_email" aria-describedby="helpEmail" placeholder="">
            <small id="helpEmail" class="form-text text-muted">test@test.com</small>
        </div>
        <div class="text-end">
            <button type="reset" class="btn btn-danger">초기화</button>
            <button type="submit" class="btn btn-primary">회원가입</button>
        </div>
    </form>
</div>

<script>
const checkIdBtn=document.getElementById("checkIdBtn");
const customerId=document.getElementById("customer_id")
const signupForm=document.forms.signupForm;
checkIdBtn.onclick=function (e) {
     let url="/customer/checkId.do";
     url+="?id="+customerId.value;
    fetch(url).then((res)=>{
        return res.json();
    }).then((json)=>{
        if(json["checkId"]){
            customerId.classList.add("is-valid");
            customerId.classList.remove("is-invalid");
        }else{
            customerId.classList.add("is-invalid");
            customerId.classList.remove("is-valid");

        }
    })
}
signupForm.onsubmit=function (e) {
    e.preventDefault();
    let idVal=signupForm.customer_id.value;
    let phoneVal=signupForm.customer_phone.value;
    let nameVal=signupForm.customer_name.value;
    let emailVal=signupForm.customer_email.value;
    if(idVal && phoneVal && nameVal && emailVal){
        let reply=confirm("회원가입하시겠습니까?")
        if(reply){
            signupForm.submit();
        }
    }else{
        alert("빈칸을 입력하세요!")
    }

}
</script>

